/*
filename: William Smallacombe
author: William Smallacombe
created: 21 March 2023
last modified: 21 March 2023
description: about_page.html
*/

body {
    background-color: #afc2c4;
    }
#float_left {float: left;}
#float_center {position: relative; left: 200px;}
* {font-family: calabri, sans-serif;}
h1 {text-size-adjust: 150%;}
#charity {position: relative; left: 20px;}
.about_table {text-align: center;}
#svs5_p1_about {position: relative; left: 20px; inline-size: 150px; overflow-wrap: break-word;}
#about_line {position: relative; left: 230px;}
#office_image_about {float: right; position: relative; left: 20px;}
#meet_about {font-size: 40px;}
#table_color_about {background-color: lightsteelblue; border-color:lightsteelblue;}
#top_about {background: white; color: white;  border:white; }
#email_about {position: relative; left: 50px}
#break_about {border:2px inset darkblue}
