* {
    font-family: sans-serif;
    color: rgb(82, 82, 82);
    font-size: large;
  } 

nav {
    background-color: #113f67;
    overflow: hidden;
    position:sticky;
    top: 0px;
  }
  
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: inset 0 0 0 0 #113f67;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  
nav a:hover {
    color: black  ;
    box-shadow: inset 200px 0 0 0 #ddd;
  }
  
nav a.active {
    background-color: #ddd;
    color: black;
  }

body {
    margin:0;
    padding:0;
  }

  /* Set up a flex container with a column layout */
.enhancement-container {
    display: flex;
    flex-direction: column;
    margin: 1em 2em 2em 2em
  }
  
/* Set up flex items */
.enhancement {
    flex: 1; /* Grow to fill available space */
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;
  }
  
/* Example styles for individual items */
.enhancement:nth-child(odd) {
    background-color: #f7f7f7;
  }
  
.enhancement:nth-child(even) {
    background-color: #eaeaea;
  }

.details {
    float: left;
    width: 50%;
    margin-top: 6px;
}

li {
    padding-top: 0.5em;
}