.first-color { 
	background: #e7eaf6; 
}
	
.second-color { 
	background: #a2a8d3; 
}

.third-color { 
	background: #38598b; 
}

.fourth-color { 
	background: #113f67; 
}

/* for the apply page */
h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 70vw;
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}
label {
  display: block;
  margin: 0.5rem 0;
}
fieldset {
  text-align: center;
  background: #a2a8d3;
  border-color: #0f2852;
}

label {
  margin-top: 10px;
}
/* for the apply page */
body {
	font-family: "Lato", sans-serif;
	display: flex;
	flex-wrap: wrap;
}
.sidenav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: #f1f1f1;
	text-align:centre;
	position: fixed;
	right: 0;
	top: 20%;
	z-index: 3;
	border: 2px solid black;
}

.pagecolor {
	background: linear-gradient(135deg, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.7) 20%);
}

.sidenav a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

.sidenav a.active {
	background-color: #1E90FF;
	color: white;
}

.sidenav a:hover:not(.active) {
	background-color: #555;
	color: white;
}
.companylogo {
	position: absolute;
	left: 0.6%;
	top:1.35%;
	z-index: 1;
}



.leftbox {
	background-color: rgb(255, 255, 255);
	width: 28.5%;
	border: 5px solid #1E90FF;
	float: left;
	padding: 40px;
	margin: 15px;
	background: rgb(123,211,232);
	background: linear-gradient(135deg, rgba(123,211,232,1) 0%, rgba(123,211,232,1) 0%, rgba(50,171,255,1) 100%);
	color: #0f2852;
}
.rightbox {
	background-color: rgb(255, 255, 255);
	width: 28.5%;
	border: 5px solid darkred;
	padding: 40px;
	margin: 15px;
	float: left;
	background: rgb(123,211,232);
	background: linear-gradient(135deg, rgba(123,211,232,1) 0%, rgba(232,123,165,1) 0%, rgba(255,50,50,1) 100%);
	color: #40081a;
}

.centerbox {
	width: 50%;
	border: 3px solid black;
	padding: 20px;
	background: grey;
	text-align: center;
	position: absolute;	
	color: black;
	margin: auto;
	font-weight:bold;
	left: 50%;
	transform: translateX(-50%);
	top: 50%;
	transform: translate(-50%, -50%);
}

.float-bottom {
	min-width: 100%;
	left: 0;
	color: white;
	box-sizing: border-box;
	box-shadow: 0 0 5px rgba (0,0,0,0.25);
	padding: 4px;
	background: black;
	text-align: center;
	font-family: Arial;
	position: fixed; bottom: 0; width: 100px;
}


.asideposition {
	float:right;
	right: 0; width: 21%; 
	text-align: left;
	color:white;
}

.container {
	position: relative;
	width: fit-content;
	margin: 0 auto;
	justify-content: space-between;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

img#logo {
	width: 200px;
	height: 175px;
}

.maincontent {
	margin-bottom: 100px; 
}

/* Responsive.css */
@media only screen and (max-width: 840px) {
	.rightbox, .leftbox {
	width: 80%;
	float: none;
}


aside {
	flex-basis: 100%;
	box-sizing: border-box;
	position: relative;
}

.asideposition {
	width: 100%;
}

.centerbox {
	width: 70%;
	height: 60%
	text-align: center;
}

img#logo{
	display: none;
}
}


@media only screen and (min-width: 841px) and (max-width: 1120px) {
img#logo {
	display: block;
	width: 130px;
	height: 113.75px;
}

.rightbox, .leftbox {
	width: 35%;
	float: left;
}



aside {
	flex-basis: 100%;
	box-sizing: border-box;
	position: relative;
}

.asideposition {
	width: 100%;
}


.centerbox {
	width: 50%;
}

.sidenav {
	width: 130px;
}
}

/* added this on 27/03 when i updated the apply.html page*/
hr {
  width: 80%;
  height: 2px;
  color:#113f67;
  background-color:#113f67;
  border-width: 0;
}

nav {
  background-color: #113f67;
  overflow: hidden;
  position:sticky;
  top: 0;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #ddd;
  color: black;
}
