/* for the navbar */
nav {
    background-color: #113f67;
    overflow: hidden;
    position:sticky;
    top: 0px;
    z-index: 5;
  }
  
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: inset 0 0 0 0 #113f67;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  
nav a:hover {
    color: black  ;
    box-shadow: inset 200px 0 0 0 #ddd;
  }
  
nav a.active {
    background-color: #ddd;
    color: black;
  }


h1 {
 text-align: center;
font-variant: normal;
font-family: Times New Roman, Times, serif;
font-size: 45px;
}



.colorblack {
color: black;
}

.sizeup {
font-size: 27px;
}

.sizeupforsalary {
font-size:20px;
text-emphasis: triangle #800080;
}

body {
font-family: "Lato", sans-serif;
margin: 0;
padding: 0;
}
.pagecolor {
background: linear-gradient(135deg, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.7) 20%);
}

.companylogo {
position: absolute;
left: 0.6%;
top:1.35%;
z-index: 1;
}

.leftbox {
background-color: rgb(255, 255, 255);
width: 28.5%;
border: 5px solid #1E90FF;
float: left;
padding: 40px;
margin: 15px;
 background: rgb(123,211,232);
background: linear-gradient(135deg, rgba(123,211,232,1) 0%, rgba(123,211,232,1) 0%, rgba(50,171,255,1) 100%);
color: #0f2852;
 animation-name: slideInFromLeft;
}
	.rightbox {
background-color: rgb(255, 255, 255);
width: 28.5%;
border: 5px solid darkred;
padding: 40px;
margin: 15px;
float: left;
background: rgb(123,211,232);
background: linear-gradient(135deg, rgba(123,211,232,1) 0%, rgba(232,123,165,1) 0%, rgba(255,50,50,1) 100%);
color: #40081a;
 animation-name: slideInFromLeft;	
}

.centerbox {
width: 50%;
border: 3px solid black;
padding: 20px;
background: grey;
text-align: center;
position: absolute;	
color: black;
margin: auto;
font-weight:bold;
left: 50%;
transform: translateX(-50%);
top: 50%;
transform: translate(-50%, -50%);
}

.float-bottom {
min-width: 100%;
left: 0;
color: white;
box-sizing: border-box;
box-shadow: 0 0 5px rgba (0,0,0,0.25);
padding: 4px;
background: black;
text-align: center;
font-family: Arial;
position: fixed; bottom: 0; width: 100px;
}


.asideposition {
float:right;
right: 0; width: 25%; 
text-align: left;
color:white;
padding-right: 15px;
padding-left: 10px;
 animation-name: slideInFromRight;	
}

aside {
border: 4px solid purple;
}

.container {
position: relative;
width: fit-content;
margin: 0 auto;
justify-content: space-between;
}

img {
display: block;
max-width: 100%;
height: auto;
}

img#logo {
width: 200px;
height: 175px;
}

.maincontent {
margin-bottom: 100px; 
}

.leftbox, .rightbox, .asideposition {
  position: relative;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}




@media only screen and (max-width: 840px) {
.rightbox, .leftbox {
width: 80%;
float: none;
}

h1 {
font-size: 25px;
}

aside {
flex-basis: 100%;
box-sizing: border-box;
position: relative;
padding-left: 22px;
}

.asideposition {
width: 100%;
}

.centerbox {
width: 70%;
height: 60%;
text-align: center;
}

img#logo	{
display: none;
}
.leftbox, .rightbox, .asideposition {
  position: relative;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}



.leftbox, .asideposition {
  animation-name: slideInFromRight;
}

.rightbox {
  animation-name: slideInFromLeft;
}
}


@media only screen and (min-width: 841px) and (max-width: 1500px) {
img#logo {
display: block;
width: 130px;
height: 113.75px;
}

h1 {
font-size: 30px;
}	
	
.rightbox, .leftbox {
width: 35%;
float: left;
}

aside {
flex-basis: 100%;
box-sizing: border-box;
position: relative;
padding-left: 22px;
}

.asideposition {
width: 100%;
 animation-name: slideInFromLeft;	
}


.centerbox {
width: 50%;
}

.sidenav {
width: 130px;
}
.leftbox, .rightbox, .asideposition {
  position: relative;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.leftbox {
  animation-name: slideInFromLeft;
}

.rightbox {
  animation-name: slideInFromRight;
}
}

/* Style definition list */
.dl-container {
    background-color: lightgray;
    padding: 1em 0em 1em 0em;
    height: 650px
}

dl {
    display: flex;
    margin: 0em 0em 1em 0em;
    padding: 1em;    
  }
  
dt {
    width: 8em;
    font-weight: bold;

  }
  
/* Style photo and figure */
figure {
    float: right;
    margin-right: 0;
    margin-top: 0;
  }
  
img {
    border: 0.5em solid #093085;
  }

.timetable {
    margin-top: 1em;
    text-align: center;
    font-size: large;
}

/* Style table */
table {
    margin: auto;
    border-collapse: collapse;
  }
  
th, td {
    padding: 10px;
    font-weight: bold;
    background-color: #e7e7e7;
  }


.contact-us{
    display: flex;
    justify-content: space-between;
    margin: 1em 10em 1em 10em;
    font-size:x-large;
}

section li, section p {
    text-align: center;
    font-size: large
}

.group-profile {
    background-color: #113f67;
    padding: 1em 0em 1em 0em;
}

.more-about-us {
    text-align: center;
}


.group-profile h2 {
    color:#ddd;
    text-align: center;
    font-size: xx-large;
}

.group-member {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.group-member:nth-child(even) {
    background-color: lightgray;
}

/*FOR ANIMATION CREDITS TO */
svg path {
    stroke-dasharray: 38.02;
    stroke-dashoffset: 38.02;
    animation: draw 2s linear forwards;
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
    0% {
      stroke: white;
    }
    30% {
      stroke: rgb(48, 172, 255);
    }
    50% {
      stroke: rgb(171, 221, 255);
    }
    70% {
      stroke: rgb(69, 179, 253);
    }
    100% {
    stroke-dashoffset:0;  
    stroke: rgb(150, 207, 244);
    }
  }


/* Animation property */
figcaption {
    text-align: center;
    animation: wiggle 2s linear infinite;
    padding-top: 30px;
  }
  
/* Keyframes */
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-1deg);
    }
    20% {
      transform: rotateZ(1deg);
    }
    25% {
      transform: rotateZ(-1deg);
    }
    30% {
      transform: rotateZ(1deg);
    }
    35% {
      transform: rotateZ(-1deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
 

/* index html css */
 #indexpage{
  font-family: "Lato", sans-serif;
  background: linear-gradient(50deg, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.7) 20%);
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

.jverticleline {
	border-left: 6px solid #134ecf;
	height: 500px;
	position: relative;
	left: 50%;
	margin-left: -3px;
	top: 0;
}

.jbutton {
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.jbutton1 {
	background-color: white;
	color: black;
	border: 2px solid #134ecf;
}

.jbutton1:hover {
	background-color: #134ecf;
	color: white;
}


.jleft {
	text-align: left;
}

.jright {
	text-align:right;
}


.jmain {
	margin-left: 140px; /* Same width as the sidebar + left position in px */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.jbox {
	background-color: lightgrey;
	width: 550px;
	border: 7px solid #134ecf;
	padding: 40px;
	margin: 15px;
	animation: fadeIn 2s ease-in-out forwards
}

.jleftbox {
	background-color: rgb(255, 255, 255);
	width: 700px;
	border: 7px solid #134ecf;
	padding: 40px;
	margin: 15px;
	float: left;
	background: linear-gradient(135deg, rgba(123,211,232,1) 0%, rgba(123,211,232,1) 0%, rgba(50,171,255,1) 100%);
	animation: fadeIn 2s ease-in-out forwards
}

.jrightbox {
	background-color: rgb(255, 255, 255);
	width: 700px;
	border: 7px solid #134ecf;
	padding: 40px;
	margin: 15px;
	float:right;
	background: linear-gradient(135deg, rgba(123,211,232,1) 0%, rgba(232,123,165,1) 0%, rgba(255,50,50,1) 100%);
	animation: fadeIn 2s ease-in-out forwards
}
.jcenterbox {
	background-color: rgb(255, 255, 255);
	width: 1200px;
	border: 7px solid #134ecf;
	padding: 40px;
	margin: 15px;
	animation: fadeIn 2s ease-in-out forwards
}

.jcenterboxposition{
	position: relative;
	top: 3%;
	left: 20%;
	margin: -25px 0 0 -25px
}

.jfloat-bottom {
	clear:both;
	border-top: 4px double black;
	min-width: 100%;
	left: 0;
	color: white;
	box-sizing: border-box;
	padding:4px;
	background: black;
	text-align: center;
	font-family: Arial;
	position: fixed; bottom: 0; width: 100px;
}



/* test for enhancestyle.css */

  /* Set up a flex container with a column layout */
.enhancement-container {
    display: flex;
    flex-direction: column;
    margin: 1em 2em 2em 2em;
    font-family: sans-serif;
    color: rgb(82, 82, 82);
    font-size: large;
    text-align: left;
  }
  
/* Set up flex items */
.enhancement {
    flex: 1; /* Grow to fill available space */
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
    color: rgb(82, 82, 82);
    font-size: large;
    text-align: left;
  }
  
/* Example styles for individual items */
.enhancement:nth-child(odd) {
    background-color: #f7f7f7;
  }
  
.enhancement:nth-child(even) {
    background-color: #eaeaea;
  }

.details {
    float: left;
    width: 50%;
    margin-top: 6px;
    font-family: sans-serif;
    color: rgb(82, 82, 82);
    font-size: large;
    text-align: left;
}

li {
    padding-top: 0.5em;
    font-family: sans-serif;
    color: rgb(82, 82, 82);
    font-size: large;
    text-align: left;
}

.enhancementalignleft {
   font-family: sans-serif;
   color: rgb(82, 82, 82);
   font-size: large;
   text-align: left;
}

/*For apply.html page*//*For apply.html page*//*For apply.html page*//*For apply.html page*/
/*For apply.html page*//*For apply.html page*//*For apply.html page*//*For apply.html page*/
/*For apply.html page*//*For apply.html page*//*For apply.html page*//*For apply.html page*/
/*For apply.html page*//*For apply.html page*//*For apply.html page*//*For apply.html page*/
/*For apply.html page*//*For apply.html page*//*For apply.html page*//*For apply.html page*/


.apply * {
  font-family: sans-serif;
  color: rgb(82, 82, 82);
  font-size: large;
}

/*For the Logo and Title*/
.apply img {
  width: 70% ;
  height: auto;
  object-fit: cover;
  object-position: bottom;
  border: 0;
}

.header-container h1 {
    font-size: 1.7em
}

.header-container {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 75%;
  padding: 50px 0 0 100px;
  color:rgb(82, 82, 82);
}

/*For the form in the body*/

.JRN-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 8%;
  background-image: linear-gradient(rgb(227, 248, 255),rgb(227, 248, 255));

}

.apply form hr {
  width: 80%;
  height: 2px;
  color:#113f67;
  background-color:#113f67;
  border-width: 0;
  margin-top: 0;
}

.apply body {
  margin:0;
  padding:0;
}

.apply form {
  background-color: rgb(227, 248, 255);
}

/*For form contents*/
.apply h2,.apply p {
  text-align: left;
  padding-left: 10%;
}

input[type=text], input[type=email], input[type=date], select, textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.formcontainer {
  border-radius: 5px;
  background-color: rgb(227, 248, 255);
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20px;
}

/*formatting the column labels and rows by making them float */
.detail-column {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.input-column {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.apply label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.apply #meeting {
  height:540px
}

/*For submit button*/
.submit{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0%;
  background-image: linear-gradient(rgb(227, 248, 255),white);
  justify-content: space-between;
  background-color: lightgray;
}

input[type=submit] {
  width: 200px;
  height: 50px;
  font-size: large;
  border-radius: 6px;
  transition-duration: 0.5s;
  background-color: #113f67;
  color: white;
  border: none;  
  margin: 0 auto;
  box-shadow: inset 0 0 0 0 #113f67;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

input[type=submit]:hover {
  border-radius: 6px;
  color: black ;
  box-shadow: inset 200px 0 0 0 #ddd;
}

/*For responsiveness - colunms will stack on top instead of next to each other on small screen < 600px*/
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .apply img {
    display: none;
  }

  .header-container{
    width: auto;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 0%;
    margin: 0%;
    }

  .JRN-row {
    text-align: center;
    margin-left:17%
  }

  input[type=submit]:hover {
    border-radius: 6px;
    color: black  ;
    box-shadow: inset 600px 0 0 0 #ddd;
  }

}

@media screen and (max-width: 1200px) {
  .header-container img {
    display: none;
  }
  .header-container h1 {
    padding-bottom: 5%;
  }
}

/*For apply.html page*//*For apply.html page*//*For apply.html page*//*For apply.html page*/
/*For apply.html page*//*For apply.html page*//*For apply.html page*//*For apply.html page*/
/*For apply.html page*//*For apply.html page*//*For apply.html page*//*For apply.html page*/
/*For apply.html page*//*For apply.html page*//*For apply.html page*//*For apply.html page*/
/*For apply.html page*//*For apply.html page*//*For apply.html page*//*For apply.html page*/
